.email-index {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  gap: var(--mail-page-layout-grid-gap);
  grid-template-areas:
    'h h h'
    'n m a';
  background-color: var(--bgColor1);
}

.email-index > *:not(.email-index-main) {
  /* border: 1px solid black; */
}

.email-index > .email-index-header {
  grid-area: h;
  height: var(--mail-page-header-height);
}

.email-index > .email-navbar {
  min-width: 100px;
  grid-area: n;
}

.email-index > .email-index-main {
  position: relative;
  grid-area: m;
  height: calc(
    100vh - var(--mail-page-header-height) - var(--mail-page-layout-grid-gap) *
      2
  );
  background-color: var(--white);
}

.email-index > .addon-list-container {
  width: 100px;
  grid-area: a;
}
