:root {
  /* colors */
  --bgColor1: #f6f8fc;
  --bgColor2: #f2f6fc;
  --bgColor-seach-bar: #eaf1fb;
  --white: #fff;
  --greyColor1: #5e5e5e;

  /* elements */
  --mail-page-header-height: 55px;
  --mail-page-layout-grid-gap: 6px;
}
