.email-index-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 8px;
}

.email-index-header .menu {
  width: calc(
    var(--mail-navbar-max-width) - var(--mail-navbar-link-list-padding-end)
  );
  display: flex;
  align-items: center;
  gap: 12px;
}
.email-index-header .menu > .menu-icon {
  width: 24px;
  height: 24px;
}

.email-index-header .search-bar {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  max-width: 720px;
  height: 48px;
  width: 100%;
  border-radius: 24px;
  margin-inline-end: 30px;
  background-color: var(--bgColor-seach-bar);
}

.email-index-header .search-bar input {
  border: none;
  background-color: inherit;
  outline: none;
}

.email-index-header .user-preferences-bar {
  display: flex;
  gap: 6px;
  margin-inline-start: 30px;
}

.email-index-header .profile-logo {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  background-color: #01579b;
}
